body {
  overflow-x: hidden;
}

.img{
  background: url('img/hiking_300x250.jpg') no-repeat center center;
  height: 250px;
  background-size: cover;
}

#rightSection{
  height: 100vh;
}

@media (max-width: 992px) {
  .img{
    background: url('img/greenTrail_960x250.jpg') no-repeat center center;
    object-fit: cover;
  }
  #rightSection{
    height: auto;
  }
}

#rightSection{
  background-color: aliceblue;
}


.tableDiv {
  display: none;
}


tbody tr div {
  height: 50px;
  overflow: auto;
}

.rounded-circle {
  width: 60px;
  height: 60px;
  line-height: 46px !important;
  /* font-size: 8px !important; */
  margin: 3px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 1475px) {
  footer {
    position: initial;
    margin-top: 30px;
  }
}

